.header-mobile-nav {
    position: absolute;
    top: 87px;
    z-index: 1;
    background: $primaryVariant;
    width: 100%;
    overflow: hidden;
    transition: 200ms ease-in-out;

    &-close {
        height: 0;
    }

    &-open {
        height: 256px;
    }

    ul {
        li {
            cursor: pointer;
            color: $title;
            padding: 20px 16px;
        }
    }

    @media screen and (min-width: 640px) {
        top: 107px;
        ul {
            li {
                padding: 20px 32px;
            }
        }
    }

    @media screen and (min-width: 768px) {
        top: 139px;
    }
}
