.Portfolio-experiencecard {
    &-title {
        font-family: 'Space Grotesk Bold', sans-serif;
        color: $title;
        font-size: $lg;
        margin-bottom: 32px;
        width: 100%;
    }

    &-secondTitle {
        font-family: 'Space Grotesk Regular', sans-serif;
        font-size: $base;

        color: #34a1cd;
    }

    &-date {
        font-family: 'Space Grotesk Regular', sans-serif;
        font-size: $base;

        color: #a6a6a6;
        margin-bottom: 24px;
    }
    hr {
        color: #000000;
    }

    @screen sm {
        &-title {
            font-size: $xl;
            width: 70%;
        }

        &-secondTitle {
            font-size: $lg;
        }

        &-date {
            font-size: $lg;
        }
    }

    @screen lg {
        &-title {
            margin-bottom: 0;
            min-height: 96px;
        }
    }
}
