.Portfolio-imagecard {
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    border-radius: 16px;
    box-shadow: $boxShadowProject;
    max-width: 275px;
    max-height: 275px;
    height: 275px;
    width: 275px;
}
