.Portfolio-section-title {
    font-family: 'Space Grotesk Bold', sans-serif;
    color: $title;
    font-size: $xl5;

    @media screen and (max-width: 400px) {
        font-size: $xl4;
    }

    @media screen and (min-width: $breakpoint_lg) {
        font-size: $xl5;
    }

    @media screen and (min-width: $breakpoint_xl) {
        font-size: $xl6;
    }
}
