.Portfolio-section-title {
    font-family: 'Space Grotesk Bold', sans-serif;
    font-weight: bold;
    color: $title;
    font-size: $xl5;

    @media screen and (max-width: 400px) {
        font-size: $xl4;
    }

    @screen lg {
        font-size: $xl5;
    }

    @screen xl {
        font-size: $xl6;
    }
}
