.footer {
    width: 100%;
    @include fullCenter;
    &-content {
        padding: 32px 16px;
        @include spaceBetween;

        .logo {
            width: 56px;
            @include defaultLogo;
        }

        &-logos {
            @include spaceBetween;
            gap: 32px;
            div {
                padding: 4px;
                cursor: pointer;
            }
        }
    }

    @screen sm {
        &-content {
            .logo {
                width: 75px;
            }
        }
    }

    @screen md {
        &-content {
            padding: 32px;
        }
    }

    @screen xl {
        &-content {
            padding: 32px 64px;
        }
    }
}
